<?xml version="1.0"?>
<configuration>
  <!--<configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>-->
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

  <!--<autofac defaultAssembly="RemoteGenerator">
    <components>
      <component
          type="RemoteGenerator.WCF.Host, RemoteGenerator"
          service="RemoteGenerator.WCF.IHost, RemoteGenerator" >
        <parameters>
          <parameter name="address" value="net.tcp://localhost:8000/wcfserver"/>
        </parameters>
      </component>
    </components>
  </autofac>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="RemoteGenerator.WCF.IHost, RemoteGenerator" mapTo="RemoteGenerator.WCF.Host, RemoteGenerator">
        <constructor>
          <param name="address" value="net.tcp://localhost:8000/wcfserver"/>
        </constructor>
        <lifetime type="ContainerControlledLifetimeManager"/>
      </register>
    </container>
  </unity>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
