<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Interop" version="17.11.40262" targetFramework="net472" />
  <package id="NetOfficeFw.Core" version="1.9.7" targetFramework="net472" />
  <package id="NetOfficeFw.Office" version="1.9.7" targetFramework="net472" />
  <package id="NetOfficeFw.PowerPoint" version="1.9.7" targetFramework="net472" />
  <package id="NetOfficeFw.VBIDE" version="1.9.7" targetFramework="net472" />
  <package id="stdole" version="17.11.40262" targetFramework="net472" />
</packages>