<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ILiturgieDatabase.ILiturgieLosOp, ILiturgieDatabase" mapTo="PowerpointGenerator.Database.LiturgieDatabase, PowerpointGenerator" />
      <register type="IDatabase.IEngine[], IDatabase" mapTo="PowerpointGenerator.Database.FileEngine[], PowerpointGenerator" />
      <register type="ISettings.IInstellingenFactory, ISettings" mapTo="PowerpointGenerator.Settings.SettingsFactory, PowerpointGenerator">
        <constructor>
          <param name="instellingenFileName" value="instellingen.xml" />
          <param name="masksFileName" value="masks.xml" />
        </constructor>
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
      <register type="ISlideBuilder.IBuilder, ISlideBuilder" mapTo="mppt.PowerpointFunctions, MicrosoftPowerpointWrapper" />
      <!--<register type="ISlideBuilder.IBuilder, ISlideBuilder" mapTo="PowerpointGenerator.Powerpoint.RemotePowerpointClient, PowerpointGenerator">
        <constructor>
          <param name="endpoint" value="net.tcp://localhost:8000/wcfserver"/>
        </constructor>
      </register>-->
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
