<?xml version="1.0"?>
<PowerpointGenerator.Properties.Settings>
  <setting name="InstellingenFileName" serializeAs="String">
    <value>lib\instellingen.xml</value>
  </setting>
  <setting name="MasksFileName" serializeAs="String">
    <value>lib\masks.xml</value>
  </setting>
  <setting name="SetContainerName" serializeAs="String">
    <value>inhoud</value>
  </setting>
</PowerpointGenerator.Properties.Settings>
