<?xml version="1.0"?>
<PowerpointGenerator.Properties.Settings>
  <setting name="InstellingenFileName" serializeAs="String">
    <value>instellingen.xml</value>
  </setting>
  <setting name="MasksFileName" serializeAs="String">
    <value>masks.xml</value>
  </setting>
</PowerpointGenerator.Properties.Settings>
