<?xml version="1.0"?>
<PowerpointGenerator.Properties.Settings>
  <setting name="InstellingenFileName" serializeAs="String">
    <value>lib\instellingen.json</value>
  </setting>
  <setting name="MasksFileName" serializeAs="String">
    <value>lib\masks.json</value>
  </setting>
  <setting name="SetNameEmpty" serializeAs="String">
    <value>!leeg</value>
  </setting>
</PowerpointGenerator.Properties.Settings>
